<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="lessonDao" class="com.tianjh.dao.LessonDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="lessonServiceBase" class="com.tianjh.service.LessonServiceImpl">
		<property name="lessonDao" ref="lessonDao"></property>
	</bean>
	
	<!-- 此处为代理 -->
	<bean name="lessonService" parent="transactionProxy">
		<property name="target" ref="lessonServiceBase"></property>
	</bean>	
</beans>
